/* Utility */
:root {
  --color: #014d4e;
  --third-color: #292f36;
  --primary-color: #ff6b6b;
  --secondary-color: #857e61;
  --tertiary-color: #ededf4;
}

.flex-row {
  display: flex;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

body {
  background-color: #292f36;
  color: #ededf4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  top: 0;
  background-position: 100%;
  background-size: cover;
  z-index: 999;
}

/*Navigation Bar*/

header {
  padding: 20px 35px;
  background-color: var(--color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 5px;
  text-shadow: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.5vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Welcome Section */
