/* Utility */
:root {
  --color: #014d4e;
  --third-color: #292f36;
  --primary-color: #ff6b6b;
  --secondary-color: #857e61;
  --tertiary-color: #ededf4;
}

* {
  max-width: 100%;
}

.flex-row {
  display: flex;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

body {
  background-color: #292f36;
  color: #ededf4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  top: 0;
  background-position: 100%;
  background-size: cover;
  z-index: 999;
  text-align: center;
}

/*Navigation Bar*/

header {
  padding: 20px 35px;
  background-color: var(--color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  top: 0;
}

header h1 {
  font-weight: bold;
  font-size: 36px;
  color: var(--primary-color);
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 5px;
  text-shadow: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.5vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Welcome Section */

.welcome {
  margin-top: 100px;
  margin-bottom: 75px;
}

/*About Me */

#self-portrait {
  width: 750px;
  height: 500px;
}

.about-me {
  margin-bottom: 50px;
}

/* Project work section */

.projects ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 100px;
}

.project-square {
  background-color: rgba(255, 107, 107, 0.7);

  display: block;
  justify-content: space-between;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 35px;
  text-align: center;
}
.projects ul :hover {
  background-color: #014d4e;
  border-radius: 5px;
  text-shadow: none;
  flex-grow: 1;
}

/* Footer Panel */

.reach-out {
  padding: 20px, 35px;
  background-color: #014d4e;
  display: flex;
  justify-content: space-around;
}

.reach-out a {
  color: #ededf4;
}

h2 {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.5vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
